--
-- PostgreSQL database dump
--

\restrict mFOHttbgrAMSKKvL7qg0Uq5pLio6334YbTo2T3twOfnypJrkH0rHnhGzSbOzPfU

-- Dumped from database version 16.15
-- Dumped by pg_dump version 16.15

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: AdminRole; Type: TYPE; Schema: public; Owner: academy
--

CREATE TYPE public."AdminRole" AS ENUM (
    'ADMINISTRATOR',
    'RECEPTION',
    'MANAGER'
);


ALTER TYPE public."AdminRole" OWNER TO academy;

--
-- Name: AttendanceStatus; Type: TYPE; Schema: public; Owner: academy
--

CREATE TYPE public."AttendanceStatus" AS ENUM (
    'PRESENT',
    'ABSENT',
    'JUSTIFIED'
);


ALTER TYPE public."AttendanceStatus" OWNER TO academy;

--
-- Name: DayOfWeek; Type: TYPE; Schema: public; Owner: academy
--

CREATE TYPE public."DayOfWeek" AS ENUM (
    'MONDAY',
    'TUESDAY',
    'WEDNESDAY',
    'THURSDAY',
    'FRIDAY',
    'SATURDAY',
    'SUNDAY'
);


ALTER TYPE public."DayOfWeek" OWNER TO academy;

--
-- Name: EnrollmentStatus; Type: TYPE; Schema: public; Owner: academy
--

CREATE TYPE public."EnrollmentStatus" AS ENUM (
    'ACTIVE',
    'ENDED'
);


ALTER TYPE public."EnrollmentStatus" OWNER TO academy;

--
-- Name: MonthlyChargeStatus; Type: TYPE; Schema: public; Owner: academy
--

CREATE TYPE public."MonthlyChargeStatus" AS ENUM (
    'PENDING',
    'PAID',
    'VOID'
);


ALTER TYPE public."MonthlyChargeStatus" OWNER TO academy;

--
-- Name: RecordStatus; Type: TYPE; Schema: public; Owner: academy
--

CREATE TYPE public."RecordStatus" AS ENUM (
    'ACTIVE',
    'INACTIVE'
);


ALTER TYPE public."RecordStatus" OWNER TO academy;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: _prisma_migrations; Type: TABLE; Schema: public; Owner: academy
--

CREATE TABLE public._prisma_migrations (
    id character varying(36) NOT NULL,
    checksum character varying(64) NOT NULL,
    finished_at timestamp with time zone,
    migration_name character varying(255) NOT NULL,
    logs text,
    rolled_back_at timestamp with time zone,
    started_at timestamp with time zone DEFAULT now() NOT NULL,
    applied_steps_count integer DEFAULT 0 NOT NULL
);


ALTER TABLE public._prisma_migrations OWNER TO academy;

--
-- Name: admin_sessions; Type: TABLE; Schema: public; Owner: academy
--

CREATE TABLE public.admin_sessions (
    id uuid NOT NULL,
    token_hash character(64) NOT NULL,
    user_id uuid NOT NULL,
    expires_at timestamp(3) with time zone NOT NULL,
    created_at timestamp(3) with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.admin_sessions OWNER TO academy;

--
-- Name: admin_users; Type: TABLE; Schema: public; Owner: academy
--

CREATE TABLE public.admin_users (
    id uuid NOT NULL,
    username character varying(100) NOT NULL,
    password_hash text NOT NULL,
    status public."RecordStatus" DEFAULT 'ACTIVE'::public."RecordStatus" NOT NULL,
    created_at timestamp(3) with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) with time zone NOT NULL,
    role public."AdminRole" DEFAULT 'RECEPTION'::public."AdminRole" NOT NULL
);


ALTER TABLE public.admin_users OWNER TO academy;

--
-- Name: branches; Type: TABLE; Schema: public; Owner: academy
--

CREATE TABLE public.branches (
    id uuid NOT NULL,
    name character varying(120) NOT NULL,
    address text NOT NULL,
    status public."RecordStatus" DEFAULT 'ACTIVE'::public."RecordStatus" NOT NULL,
    created_at timestamp(3) with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) with time zone NOT NULL
);


ALTER TABLE public.branches OWNER TO academy;

--
-- Name: class_schedules; Type: TABLE; Schema: public; Owner: academy
--

CREATE TABLE public.class_schedules (
    id uuid NOT NULL,
    class_id uuid NOT NULL,
    day_of_week public."DayOfWeek" NOT NULL,
    start_time time(0) without time zone NOT NULL,
    end_time time(0) without time zone NOT NULL,
    room_id uuid NOT NULL,
    status public."RecordStatus" DEFAULT 'ACTIVE'::public."RecordStatus" NOT NULL,
    created_at timestamp(3) with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) with time zone NOT NULL,
    CONSTRAINT class_schedules_time_order_check CHECK ((end_time > start_time))
);


ALTER TABLE public.class_schedules OWNER TO academy;

--
-- Name: classes; Type: TABLE; Schema: public; Owner: academy
--

CREATE TABLE public.classes (
    id uuid NOT NULL,
    name character varying(150) NOT NULL,
    dance_type_id uuid NOT NULL,
    teacher_id uuid NOT NULL,
    level character varying(100),
    capacity integer NOT NULL,
    status public."RecordStatus" DEFAULT 'ACTIVE'::public."RecordStatus" NOT NULL,
    created_at timestamp(3) with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) with time zone NOT NULL,
    CONSTRAINT classes_capacity_positive_check CHECK ((capacity > 0))
);


ALTER TABLE public.classes OWNER TO academy;

--
-- Name: dance_types; Type: TABLE; Schema: public; Owner: academy
--

CREATE TABLE public.dance_types (
    id uuid NOT NULL,
    name character varying(100) NOT NULL,
    normalized_name character varying(100) NOT NULL,
    description text,
    status public."RecordStatus" DEFAULT 'ACTIVE'::public."RecordStatus" NOT NULL,
    created_at timestamp(3) with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) with time zone NOT NULL
);


ALTER TABLE public.dance_types OWNER TO academy;

--
-- Name: enrollments; Type: TABLE; Schema: public; Owner: academy
--

CREATE TABLE public.enrollments (
    id uuid NOT NULL,
    student_id uuid NOT NULL,
    class_id uuid NOT NULL,
    start_date date NOT NULL,
    end_date date,
    status public."EnrollmentStatus" DEFAULT 'ACTIVE'::public."EnrollmentStatus" NOT NULL,
    created_at timestamp(3) with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) with time zone NOT NULL,
    CONSTRAINT enrollments_dates_check CHECK (((end_date IS NULL) OR (end_date >= start_date)))
);


ALTER TABLE public.enrollments OWNER TO academy;

--
-- Name: monthly_charges; Type: TABLE; Schema: public; Owner: academy
--

CREATE TABLE public.monthly_charges (
    id uuid NOT NULL,
    student_id uuid NOT NULL,
    enrollment_id uuid NOT NULL,
    tariff_id uuid NOT NULL,
    period date NOT NULL,
    base_amount numeric(12,2) NOT NULL,
    discount_amount numeric(12,2) DEFAULT 0 NOT NULL,
    final_amount numeric(12,2) NOT NULL,
    due_date date NOT NULL,
    status public."MonthlyChargeStatus" DEFAULT 'PENDING'::public."MonthlyChargeStatus" NOT NULL,
    created_at timestamp(3) with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) with time zone NOT NULL,
    CONSTRAINT monthly_charges_amounts_check CHECK (((base_amount >= (0)::numeric) AND (discount_amount >= (0)::numeric) AND (final_amount >= (0)::numeric) AND (discount_amount <= base_amount) AND (final_amount = (base_amount - discount_amount)))),
    CONSTRAINT monthly_charges_due_date_check CHECK (((due_date >= period) AND (due_date <= (period + 9)))),
    CONSTRAINT monthly_charges_period_check CHECK ((EXTRACT(day FROM period) = (1)::numeric))
);


ALTER TABLE public.monthly_charges OWNER TO academy;

--
-- Name: rooms; Type: TABLE; Schema: public; Owner: academy
--

CREATE TABLE public.rooms (
    id uuid NOT NULL,
    name character varying(120) NOT NULL,
    capacity integer NOT NULL,
    branch_id uuid NOT NULL,
    status public."RecordStatus" DEFAULT 'ACTIVE'::public."RecordStatus" NOT NULL,
    created_at timestamp(3) with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) with time zone NOT NULL,
    CONSTRAINT rooms_capacity_positive_check CHECK ((capacity > 0))
);


ALTER TABLE public.rooms OWNER TO academy;

--
-- Name: student_attendances; Type: TABLE; Schema: public; Owner: academy
--

CREATE TABLE public.student_attendances (
    id uuid NOT NULL,
    enrollment_id uuid NOT NULL,
    attendance_date date NOT NULL,
    status public."AttendanceStatus" NOT NULL,
    notes text,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.student_attendances OWNER TO academy;

--
-- Name: students; Type: TABLE; Schema: public; Owner: academy
--

CREATE TABLE public.students (
    id uuid NOT NULL,
    dni character varying(32) NOT NULL,
    first_name character varying(100) NOT NULL,
    last_name character varying(100) NOT NULL,
    birth_date date,
    phone character varying(50),
    email character varying(254),
    address text,
    joined_at date DEFAULT CURRENT_TIMESTAMP NOT NULL,
    status public."RecordStatus" DEFAULT 'ACTIVE'::public."RecordStatus" NOT NULL,
    created_at timestamp(3) with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) with time zone NOT NULL
);


ALTER TABLE public.students OWNER TO academy;

--
-- Name: tariffs; Type: TABLE; Schema: public; Owner: academy
--

CREATE TABLE public.tariffs (
    id uuid NOT NULL,
    name character varying(120) NOT NULL,
    amount numeric(12,2) NOT NULL,
    valid_from date NOT NULL,
    valid_to date,
    status public."RecordStatus" DEFAULT 'ACTIVE'::public."RecordStatus" NOT NULL,
    created_at timestamp(3) with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) with time zone NOT NULL,
    CONSTRAINT tariffs_amount_check CHECK ((amount >= (0)::numeric)),
    CONSTRAINT tariffs_validity_check CHECK (((valid_to IS NULL) OR (valid_to >= valid_from)))
);


ALTER TABLE public.tariffs OWNER TO academy;

--
-- Name: teachers; Type: TABLE; Schema: public; Owner: academy
--

CREATE TABLE public.teachers (
    id uuid NOT NULL,
    dni character varying(32) NOT NULL,
    first_name character varying(100) NOT NULL,
    last_name character varying(100) NOT NULL,
    phone character varying(50),
    email character varying(254),
    address text,
    status public."RecordStatus" DEFAULT 'ACTIVE'::public."RecordStatus" NOT NULL,
    created_at timestamp(3) with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) with time zone NOT NULL
);


ALTER TABLE public.teachers OWNER TO academy;

--
-- Data for Name: _prisma_migrations; Type: TABLE DATA; Schema: public; Owner: academy
--



--
-- Data for Name: admin_sessions; Type: TABLE DATA; Schema: public; Owner: academy
--



--
-- Data for Name: admin_users; Type: TABLE DATA; Schema: public; Owner: academy
--

COPY public.admin_users (id, username, password_hash, status, created_at, updated_at, role) FROM stdin;
7d96c1bc-7329-413f-94c6-1c2f021eaed3	mariano	scrypt$16384$8$1$/Ppj0GrLTZJx1s6mokbVoQ==$E9dyHaMlBU9PLRN9mYdkHkprr7MCQtDZb/NI+pYZSYH0Ao7iyx6yn9exlQmrJtj99ZJL+DREcClhBgVENXvEsA==	ACTIVE	2026-08-21 21:12:09.501+00	2026-08-21 21:12:09.501+00	ADMINISTRATOR
\.


--
-- Data for Name: branches; Type: TABLE DATA; Schema: public; Owner: academy
--

COPY public.branches (id, name, address, status, created_at, updated_at) FROM stdin;
12661d97-3998-4789-a9e5-44d72c5c7513	Carmes├¡	Pringles 321	ACTIVE	2026-08-21 23:38:46.418+00	2026-08-23 18:55:06.118+00
\.


--
-- Data for Name: class_schedules; Type: TABLE DATA; Schema: public; Owner: academy
--



--
-- Data for Name: classes; Type: TABLE DATA; Schema: public; Owner: academy
--



--
-- Data for Name: dance_types; Type: TABLE DATA; Schema: public; Owner: academy
--



--
-- Data for Name: enrollments; Type: TABLE DATA; Schema: public; Owner: academy
--

COPY public.enrollments (id, student_id, class_id, start_date, end_date, status, created_at, updated_at) FROM stdin;
c914adaf-c8ad-4bef-91e6-8228b41698b1	8bed59f3-936a-4fdd-bf39-475c686481b7	ff270dd4-aef0-4546-aeb7-24aa94093098	2026-08-21	2026-08-23	ENDED	2026-08-22 01:02:10.427+00	2026-08-23 19:57:49.914+00
a1cd8d8b-f092-4b40-9644-509c3e71b55a	ddc77860-17e6-4310-a399-7ea7365f3ccb	ff270dd4-aef0-4546-aeb7-24aa94093098	2026-08-21	2026-08-23	ENDED	2026-08-21 23:41:39.025+00	2026-08-23 19:57:55.517+00
\.


--
-- Data for Name: monthly_charges; Type: TABLE DATA; Schema: public; Owner: academy
--

COPY public.monthly_charges (id, student_id, enrollment_id, tariff_id, period, base_amount, discount_amount, final_amount, due_date, status, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: rooms; Type: TABLE DATA; Schema: public; Owner: academy
--

COPY public.rooms (id, name, capacity, branch_id, status, created_at, updated_at) FROM stdin;
1b22371d-3ab7-4c8f-9579-96cf4e466f8c	Sal├│n 2	20	12661d97-3998-4789-a9e5-44d72c5c7513	ACTIVE	2026-08-23 18:58:06.141+00	2026-08-23 19:58:33.275+00
7224e2cf-3eb5-4dcf-b086-aed42eabbff4	Sal├│n principal	35	12661d97-3998-4789-a9e5-44d72c5c7513	ACTIVE	2026-08-21 23:38:57.666+00	2026-08-23 19:58:37.889+00
\.


--
-- Data for Name: student_attendances; Type: TABLE DATA; Schema: public; Owner: academy
--



--
-- Data for Name: students; Type: TABLE DATA; Schema: public; Owner: academy
--

COPY public.students (id, dni, first_name, last_name, birth_date, phone, email, address, joined_at, status, created_at, updated_at) FROM stdin;
ddc77860-17e6-4310-a399-7ea7365f3ccb	44464064	mariano	elordi	2002-12-30	3705032792	marianoelordi2@gmail.com	aaaaa	2026-08-21	ACTIVE	2026-08-21 21:12:46.787+00	2026-08-21 23:39:48.299+00
8bed59f3-936a-4fdd-bf39-475c686481b7	33333333	aaaaaa	aaaaa	2001-11-11	222222	222@gmail.com	aaaa	2026-08-22	ACTIVE	2026-08-22 01:01:58.898+00	2026-08-22 01:01:58.898+00
\.


--
-- Data for Name: tariffs; Type: TABLE DATA; Schema: public; Owner: academy
--

COPY public.tariffs (id, name, amount, valid_from, valid_to, status, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: teachers; Type: TABLE DATA; Schema: public; Owner: academy
--



--
-- Name: _prisma_migrations _prisma_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: academy
--

ALTER TABLE ONLY public._prisma_migrations
    ADD CONSTRAINT _prisma_migrations_pkey PRIMARY KEY (id);


--
-- Name: admin_sessions admin_sessions_pkey; Type: CONSTRAINT; Schema: public; Owner: academy
--

ALTER TABLE ONLY public.admin_sessions
    ADD CONSTRAINT admin_sessions_pkey PRIMARY KEY (id);


--
-- Name: admin_users admin_users_pkey; Type: CONSTRAINT; Schema: public; Owner: academy
--

ALTER TABLE ONLY public.admin_users
    ADD CONSTRAINT admin_users_pkey PRIMARY KEY (id);


--
-- Name: branches branches_pkey; Type: CONSTRAINT; Schema: public; Owner: academy
--

ALTER TABLE ONLY public.branches
    ADD CONSTRAINT branches_pkey PRIMARY KEY (id);


--
-- Name: class_schedules class_schedules_pkey; Type: CONSTRAINT; Schema: public; Owner: academy
--

ALTER TABLE ONLY public.class_schedules
    ADD CONSTRAINT class_schedules_pkey PRIMARY KEY (id);


--
-- Name: classes classes_pkey; Type: CONSTRAINT; Schema: public; Owner: academy
--

ALTER TABLE ONLY public.classes
    ADD CONSTRAINT classes_pkey PRIMARY KEY (id);


--
-- Name: dance_types dance_types_pkey; Type: CONSTRAINT; Schema: public; Owner: academy
--

ALTER TABLE ONLY public.dance_types
    ADD CONSTRAINT dance_types_pkey PRIMARY KEY (id);


--
-- Name: enrollments enrollments_pkey; Type: CONSTRAINT; Schema: public; Owner: academy
--

ALTER TABLE ONLY public.enrollments
    ADD CONSTRAINT enrollments_pkey PRIMARY KEY (id);


--
-- Name: monthly_charges monthly_charges_pkey; Type: CONSTRAINT; Schema: public; Owner: academy
--

ALTER TABLE ONLY public.monthly_charges
    ADD CONSTRAINT monthly_charges_pkey PRIMARY KEY (id);


--
-- Name: rooms rooms_pkey; Type: CONSTRAINT; Schema: public; Owner: academy
--

ALTER TABLE ONLY public.rooms
    ADD CONSTRAINT rooms_pkey PRIMARY KEY (id);


--
-- Name: student_attendances student_attendances_pkey; Type: CONSTRAINT; Schema: public; Owner: academy
--

ALTER TABLE ONLY public.student_attendances
    ADD CONSTRAINT student_attendances_pkey PRIMARY KEY (id);


--
-- Name: students students_pkey; Type: CONSTRAINT; Schema: public; Owner: academy
--

ALTER TABLE ONLY public.students
    ADD CONSTRAINT students_pkey PRIMARY KEY (id);


--
-- Name: tariffs tariffs_pkey; Type: CONSTRAINT; Schema: public; Owner: academy
--

ALTER TABLE ONLY public.tariffs
    ADD CONSTRAINT tariffs_pkey PRIMARY KEY (id);


--
-- Name: teachers teachers_pkey; Type: CONSTRAINT; Schema: public; Owner: academy
--

ALTER TABLE ONLY public.teachers
    ADD CONSTRAINT teachers_pkey PRIMARY KEY (id);


--
-- Name: admin_sessions_expires_at_idx; Type: INDEX; Schema: public; Owner: academy
--

CREATE INDEX admin_sessions_expires_at_idx ON public.admin_sessions USING btree (expires_at);


--
-- Name: admin_sessions_token_hash_key; Type: INDEX; Schema: public; Owner: academy
--

CREATE UNIQUE INDEX admin_sessions_token_hash_key ON public.admin_sessions USING btree (token_hash);


--
-- Name: admin_sessions_user_id_idx; Type: INDEX; Schema: public; Owner: academy
--

CREATE INDEX admin_sessions_user_id_idx ON public.admin_sessions USING btree (user_id);


--
-- Name: admin_users_username_key; Type: INDEX; Schema: public; Owner: academy
--

CREATE UNIQUE INDEX admin_users_username_key ON public.admin_users USING btree (username);


--
-- Name: branches_name_idx; Type: INDEX; Schema: public; Owner: academy
--

CREATE INDEX branches_name_idx ON public.branches USING btree (name);


--
-- Name: class_schedules_class_id_status_idx; Type: INDEX; Schema: public; Owner: academy
--

CREATE INDEX class_schedules_class_id_status_idx ON public.class_schedules USING btree (class_id, status);


--
-- Name: class_schedules_room_id_day_of_week_status_start_time_end_t_idx; Type: INDEX; Schema: public; Owner: academy
--

CREATE INDEX class_schedules_room_id_day_of_week_status_start_time_end_t_idx ON public.class_schedules USING btree (room_id, day_of_week, status, start_time, end_time);


--
-- Name: classes_dance_type_id_status_idx; Type: INDEX; Schema: public; Owner: academy
--

CREATE INDEX classes_dance_type_id_status_idx ON public.classes USING btree (dance_type_id, status);


--
-- Name: classes_name_idx; Type: INDEX; Schema: public; Owner: academy
--

CREATE INDEX classes_name_idx ON public.classes USING btree (name);


--
-- Name: classes_teacher_id_status_idx; Type: INDEX; Schema: public; Owner: academy
--

CREATE INDEX classes_teacher_id_status_idx ON public.classes USING btree (teacher_id, status);


--
-- Name: dance_types_name_idx; Type: INDEX; Schema: public; Owner: academy
--

CREATE INDEX dance_types_name_idx ON public.dance_types USING btree (name);


--
-- Name: dance_types_normalized_name_key; Type: INDEX; Schema: public; Owner: academy
--

CREATE UNIQUE INDEX dance_types_normalized_name_key ON public.dance_types USING btree (normalized_name);


--
-- Name: enrollments_active_student_class_key; Type: INDEX; Schema: public; Owner: academy
--

CREATE UNIQUE INDEX enrollments_active_student_class_key ON public.enrollments USING btree (student_id, class_id) WHERE (status = 'ACTIVE'::public."EnrollmentStatus");


--
-- Name: enrollments_class_id_status_idx; Type: INDEX; Schema: public; Owner: academy
--

CREATE INDEX enrollments_class_id_status_idx ON public.enrollments USING btree (class_id, status);


--
-- Name: enrollments_student_id_status_idx; Type: INDEX; Schema: public; Owner: academy
--

CREATE INDEX enrollments_student_id_status_idx ON public.enrollments USING btree (student_id, status);


--
-- Name: monthly_charges_enrollment_id_period_key; Type: INDEX; Schema: public; Owner: academy
--

CREATE UNIQUE INDEX monthly_charges_enrollment_id_period_key ON public.monthly_charges USING btree (enrollment_id, period);


--
-- Name: monthly_charges_enrollment_id_period_status_idx; Type: INDEX; Schema: public; Owner: academy
--

CREATE INDEX monthly_charges_enrollment_id_period_status_idx ON public.monthly_charges USING btree (enrollment_id, period, status);


--
-- Name: monthly_charges_period_status_idx; Type: INDEX; Schema: public; Owner: academy
--

CREATE INDEX monthly_charges_period_status_idx ON public.monthly_charges USING btree (period, status);


--
-- Name: monthly_charges_student_id_period_status_idx; Type: INDEX; Schema: public; Owner: academy
--

CREATE INDEX monthly_charges_student_id_period_status_idx ON public.monthly_charges USING btree (student_id, period, status);


--
-- Name: monthly_charges_tariff_id_idx; Type: INDEX; Schema: public; Owner: academy
--

CREATE INDEX monthly_charges_tariff_id_idx ON public.monthly_charges USING btree (tariff_id);


--
-- Name: rooms_branch_id_status_idx; Type: INDEX; Schema: public; Owner: academy
--

CREATE INDEX rooms_branch_id_status_idx ON public.rooms USING btree (branch_id, status);


--
-- Name: rooms_name_idx; Type: INDEX; Schema: public; Owner: academy
--

CREATE INDEX rooms_name_idx ON public.rooms USING btree (name);


--
-- Name: student_attendances_attendance_date_idx; Type: INDEX; Schema: public; Owner: academy
--

CREATE INDEX student_attendances_attendance_date_idx ON public.student_attendances USING btree (attendance_date);


--
-- Name: student_attendances_enrollment_id_attendance_date_key; Type: INDEX; Schema: public; Owner: academy
--

CREATE UNIQUE INDEX student_attendances_enrollment_id_attendance_date_key ON public.student_attendances USING btree (enrollment_id, attendance_date);


--
-- Name: student_attendances_enrollment_id_idx; Type: INDEX; Schema: public; Owner: academy
--

CREATE INDEX student_attendances_enrollment_id_idx ON public.student_attendances USING btree (enrollment_id);


--
-- Name: students_dni_key; Type: INDEX; Schema: public; Owner: academy
--

CREATE UNIQUE INDEX students_dni_key ON public.students USING btree (dni);


--
-- Name: students_last_name_first_name_idx; Type: INDEX; Schema: public; Owner: academy
--

CREATE INDEX students_last_name_first_name_idx ON public.students USING btree (last_name, first_name);


--
-- Name: tariffs_name_idx; Type: INDEX; Schema: public; Owner: academy
--

CREATE INDEX tariffs_name_idx ON public.tariffs USING btree (name);


--
-- Name: tariffs_status_valid_from_valid_to_idx; Type: INDEX; Schema: public; Owner: academy
--

CREATE INDEX tariffs_status_valid_from_valid_to_idx ON public.tariffs USING btree (status, valid_from, valid_to);


--
-- Name: teachers_dni_key; Type: INDEX; Schema: public; Owner: academy
--

CREATE UNIQUE INDEX teachers_dni_key ON public.teachers USING btree (dni);


--
-- Name: teachers_last_name_first_name_idx; Type: INDEX; Schema: public; Owner: academy
--

CREATE INDEX teachers_last_name_first_name_idx ON public.teachers USING btree (last_name, first_name);


--
-- Name: admin_sessions admin_sessions_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: academy
--

ALTER TABLE ONLY public.admin_sessions
    ADD CONSTRAINT admin_sessions_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.admin_users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: class_schedules class_schedules_class_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: academy
--

ALTER TABLE ONLY public.class_schedules
    ADD CONSTRAINT class_schedules_class_id_fkey FOREIGN KEY (class_id) REFERENCES public.classes(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: class_schedules class_schedules_room_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: academy
--

ALTER TABLE ONLY public.class_schedules
    ADD CONSTRAINT class_schedules_room_id_fkey FOREIGN KEY (room_id) REFERENCES public.rooms(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: classes classes_dance_type_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: academy
--

ALTER TABLE ONLY public.classes
    ADD CONSTRAINT classes_dance_type_id_fkey FOREIGN KEY (dance_type_id) REFERENCES public.dance_types(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: classes classes_teacher_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: academy
--

ALTER TABLE ONLY public.classes
    ADD CONSTRAINT classes_teacher_id_fkey FOREIGN KEY (teacher_id) REFERENCES public.teachers(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: enrollments enrollments_class_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: academy
--

ALTER TABLE ONLY public.enrollments
    ADD CONSTRAINT enrollments_class_id_fkey FOREIGN KEY (class_id) REFERENCES public.classes(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: enrollments enrollments_student_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: academy
--

ALTER TABLE ONLY public.enrollments
    ADD CONSTRAINT enrollments_student_id_fkey FOREIGN KEY (student_id) REFERENCES public.students(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: monthly_charges monthly_charges_enrollment_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: academy
--

ALTER TABLE ONLY public.monthly_charges
    ADD CONSTRAINT monthly_charges_enrollment_id_fkey FOREIGN KEY (enrollment_id) REFERENCES public.enrollments(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: monthly_charges monthly_charges_student_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: academy
--

ALTER TABLE ONLY public.monthly_charges
    ADD CONSTRAINT monthly_charges_student_id_fkey FOREIGN KEY (student_id) REFERENCES public.students(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: monthly_charges monthly_charges_tariff_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: academy
--

ALTER TABLE ONLY public.monthly_charges
    ADD CONSTRAINT monthly_charges_tariff_id_fkey FOREIGN KEY (tariff_id) REFERENCES public.tariffs(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: rooms rooms_branch_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: academy
--

ALTER TABLE ONLY public.rooms
    ADD CONSTRAINT rooms_branch_id_fkey FOREIGN KEY (branch_id) REFERENCES public.branches(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: student_attendances student_attendances_enrollment_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: academy
--

ALTER TABLE ONLY public.student_attendances
    ADD CONSTRAINT student_attendances_enrollment_id_fkey FOREIGN KEY (enrollment_id) REFERENCES public.enrollments(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- PostgreSQL database dump complete
--

\unrestrict mFOHttbgrAMSKKvL7qg0Uq5pLio6334YbTo2T3twOfnypJrkH0rHnhGzSbOzPfU

